*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #FFF6E3;
  /* color: white; */
  font-family: 'poppins', sans-serif;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color:#fcecc9;
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 23px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all .5s ease;
}
nav ul li a:hover{
  color: rgb(255, 83, 89);
  font-size: 1.3rem;
  background-color: rgb(230, 103, 255);
  box-shadow: 0 0 10px rgb(184, 184, 253);
}

.logo{
  font-size: 1.5em;
}

.mainsection{
  display: flex;
  justify-content: space-around;
  margin: 140px 0;
  align-items: center;
}
.mainsection > div{
  width: 30%;
}
main hr{
  border: 0;
  background: rgb(186, 129, 239);
  height: 1.2px;
  margin: 40px 84px;
}
.leftsection{
  font-size: 3rem;
}
.banner_image img{
  width: 80%;
  border-radius: 50%;
  height: 350px;
}
.purple{
  color: blueviolet;
  font-weight: 700;
}
#element{
  color: blueviolet;
}
.second{
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.second{
  font-size: 1.1rem;
}
.second .box{
  background: white;
  width: 80vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.second .vertical{
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
  width: 20px;
  position: relative;
  top: -32px;
  left: -9px;
}
footer{
  background-color: aquamarine;
  height: 233px;
}
.footer{
  display: flex;
  padding: 23px 120px;
}

.about{
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  align-items: center;
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}
.heading{
  width: 100vw;
  background-color: white;
}
.pic{
  display: flex;
}
.pic img{
  width: 575px;
  height: 400px;
}
.introduction{
  display: flex;
  flex-direction: column;
  text-align: justify;
}


.about {
  background: radial-gradient(#e1efff, white);
}


.about .introduction .image {
  width: 45%;
  justify-content: space-between;
}

.about .introduction .image img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 800px;
  margin-top: -200px;
}

.about .introduction .right {
  width: 55%;
}

.about .introduction .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .introduction .right p {
  text-align: justify;
}

.about .introduction .right a {
  display: inline-block;
  padding: 10px 30px;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 400;
  border-radius: 5px;
  background: #7ab3f8;
  color: #fff;
  border: 2px solid #1e3551;
  transition: all 0.3s ease;
}

.about .introduction .right a:hover {
  color: #1e3551;
  background: none;
  animation: pulsate 1s ease-in-out}