#calculator {
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 250px;
  margin-left: 600px;
  margin-top: 200px;
}

#display {
  margin: 10px;
  width: 85%;
  font-size: 25px;
  background-color: aqua;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color:rgb(110, 110, 110);
}

.button {
  width: 50px;
  height: 50px;
  margin: 3px;
  background-color: rgb(249, 171, 171);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;

}